extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if (role.permissions.includes('category_view'))

        h3(class="mb-5") #{pageTitle}

        +alert-success(5000)

        .card.mb-3
            //- .card-header Category List
            .card-body
                .row
                    .col-8

                    .col-4.text-right
                        if (role.permissions.includes('category_create'))
                            a(
                                href=`/${prefixAdmin}/categories/create`
                                class="btn btn-outline-success"
                            ) + New Category


                table(
                    class="table table-hover table-sm mt-3 table-dark"
                )
                    thead
                        tr
                            th #
                            th Image
                            th Title
                            th Status
                            th Position
                            th Action

                    tbody
                        each item, index in categories
                            tr 
                                td #{index+1}
                                td
                                    img(
                                        class="image-index"
                                        src=item.image
                                        alt=item.title
                                    )
                                td #{item.title}
                                td
                                    if (item.status === "active")
                                        a(
                                            href="javascript:;"
                                            class="badge badge-success"
                                        ) Active
                                    else
                                        a(
                                            href="javascript:;"
                                            class="badge badge-danger"
                                        ) Inactive
                                td #{item.position}
                                td
                                    a(
                                        class="btn btn-secondary btn-sm"
                                        href=`/${prefixAdmin}/categories/detail/${item.id}`
                                    ) Detail
                                    if (role.permissions.includes('category_edit'))
                                        a(
                                            class="btn btn-warning btn-sm ml-1"
                                            href=`/${prefixAdmin}/categories/edit/${item.id}`
                                        ) Edit
                                    if (role.permissions.includes('category_delete'))
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            button-delete
                                            data-id=item.id
                                        ) Delete

            form(
                id="form-delete-item"
                method="POST"
                action=""
                data-path=`/${prefixAdmin}/categories/delete`
            )