include ../mixins/dropdown-profile-item.pug

header.header 
    .container
        .row.align-items-center
            .col-2 
                .inner-logo 
                    a(href="/") #{settingGeneral.websiteName}

            .col-5
                .box-search
                    form(
                        action="/search/result"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Search..."
                                class="form-control flex-grow-1"
                                name="keyword"
                                required
                                value=keyword
                            )
                            div(
                                class="input-group datetime-picker" 
                                style="width: 305px"
                            )
                                button(
                                    id="calendarButton"
                                    type="button"
                                )
                                    <i class="fa-solid fa-calendar-days"></i>
                                input(
                                    class="form-control"
                                    id="dateRangePicker"
                                    type='text'
                                    name='dateRange'
                                    placeholder="Add dates"
                                    readonly
                                )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) <i class="fa-solid fa-magnifying-glass"></i>

            .col-5 
                .inner-menu 
                    ul(class="navbar")
                        li
                            a(
                                class="nav-item"
                                href="/") Home 
                        li
                            a(
                                class="nav-item"
                                href="/categories") Category
                        li
                            a( 
                                class="nav-item"
                                href="/cart"
                            )
                                <i class="fa-solid fa-cart-shopping"></i>
                                    | (<span mini-cart >0</span>)

                        img(
                            class="user-pic"
                            src=(user && user.avatar? user.avatar : "/images/default-user.png")
                            alt=(user && user.fullName? user.fullName: "Default user name")
                        )

                        .sub-menu-wrap
                            .sub-menu 
                                if(user)
                                    .user-info 
                                        img(src=(user && user.avatar ? user.avatar : "/images/default-user.png"))
                                        h6 #{user && user.fullName ? user.fullName : "unloggedin user"}
                                    hr

                                    +link-item("/user/profile", "Profile setting")
                                    +link-item("/user/logout", "Sign out")
                                else
                                    +link-item("/user/register", "register/login")