extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main 
    if (role.permissions.includes('role_create'))
        h3(class="mb-4")=pageTitle

        +alert-error(5000)

        form(
            action=`/${prefixAdmin}/roles/create`
            method="POST"
        )
            div(class="form-group")
                label(for="title") Title
                input(
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    required
                )

            div(class="form-group")
                label(for="desc") Short Description 
                input(
                    type="text"
                    id="desc"
                    name="desc"
                    class="form-control"
                )

            div(class="form-group")
                a(
                    onclick="history.back();"
                    class="btn btn-secondary mr-1"
                    aria-label="Close"
                ) Cancel

                button(
                    type="submit"
                    class="btn btn-primary"
                ) Create