extends ../../layouts/default.pug 

block main 

    h1(class="mb-4")=pageTitle

    form(
        action=`/${prefixAdmin}/roles/create`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Title
            input(
                type="text"
                id="title"
                name="title"
                class="form-control"
                required
            )

        div(class="form-group")
            label(for="desc") Short Description 
            input(
                type="text"
                id="desc"
                name="desc"
                class="form-control"
            )

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Create