extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main

    if (role.permissions.includes('role_edit'))
        h1(class="mb-4")=pageTitle 

        +alert-error(5000)

        form(
            action=`/${prefixAdmin}/roles/edit/${roleFromDB.id}?_method=PATCH`
            method="POST"
        )
            div(class="form-group")
                label(for="title") Title 
                input(
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    value=roleFromDB.title
                    required
                )

            div(class="form-group")
                label(for="desc") Short Description 
                input(
                    type="text"
                    id="desc"
                    name="desc"
                    class="form-control"
                    if (roleFromDB.description)
                        value=roleFromDB.description
                )

            div(class="form-group")
                a(
                    onclick="history.back();"
                    class="btn btn-secondary mr-1"
                    aria-label="Close"
                ) Cancel

                button(
                    type="submit"
                    class="btn btn-primary"
                ) Update