extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main
    if (role.permissions.includes('role_view'))

        h3(class="mb-4")=pageTitle
        hr

        +alert-error(3000)

        .card.mb-3
            //- .card-header Here is the list of role groups:
            .card-body 
                .row 
                    .col-8 
                    .col-4.text-right
                        if (role.permissions.includes('role_create'))
                            a(
                                href=`/${prefixAdmin}/roles/create`
                                class="btn btn-outline-success"
                            ) + New Role Group

                table(
                    class="table table-hover table-sm mt-3 table-dark"
                )
                    thead 
                        tr 
                            th #
                            th Title 
                            th Short Desc
                            th Action 
                    tbody 
                        if(roles.length > 0)
                            each item, index in roles
                                tr 
                                    td #{index + 1} 
                                    td #{item.title}
                                    td #{item.description} 
                                    td
                                        a(
                                            href=`/${prefixAdmin}/roles/detail/${item.id}`
                                            class="btn btn-info btn-sm "
                                        ) Detail
                                        if (role.permissions.includes('role_edit'))
                                            a(
                                                href=`/${prefixAdmin}/roles/edit/${item.id}`
                                                class="btn btn-warning btn-sm ml-1"
                                            ) Edit
                                        if (role.permissions.includes('role_delete'))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                data-id=item.id
                                                button-delete
                                            ) Delete
                        else 
                            tr 
                                td.text-center No role groups have been not created yet. Let's create one!

        form(
            action=""
            id="form-delete-item"
            method="POST"
            data-path=`/${prefixAdmin}/roles/delete`
        )