extends ../../layouts/auth.pug 
include ../../mixins/alert.pug 

block main

    +alert-error(4000)

    .container.my-5
        .row.justify-content-center
            .col-md-5
                h1(class="text-center")=pageTitle

                form(
                    action=`/${prefixAdmin}/auth/login`
                    method="POST"
                )

                    div(class="form-group")
                        label(for="email") Email 
                        input(
                            type="text"
                            id="email"
                            name="email"
                            class="form-control"
                            required
                        )

                    div(class="form-group")
                        label(for="password") Password 
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            required
                        )

                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Log In