extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if (role.permissions.includes('account_edit'))
        h1(class="mb-4")=pageTitle 

        +alert-error(5000)

        form(
            action=`/${prefixAdmin}/accounts/edit/${account.id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="fullName") Full Name *
                input(
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="form-control"
                    value=account.fullName
                    required
                )
            div(class="form-group")
                label(for="email") Email *
                input(
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    value=account.email
                    required
                )
            div(class="form-group")
                label(for="password") Password
                input(
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                )
            div(class="form-group")
                label(for="retypedPassword") Retype Password
                input(
                    type="password"
                    id="retypedPassword"
                    name="retypedPassword"
                    class="form-control"
                )
            div(class="form-group")
                label(for="phone") Phone Number
                input(
                    type="text"
                    id="phone"
                    name="phone"
                    value=account.phone
                    class="form-control"
                )
            div(class="form-group")
                label(for="role") Role *
                select(
                    id="role"
                    class="form-control"
                    name="roleId"
                )
                    option(value="" disabled selected ) --- Choose Role --- 
                    each role in roles 
                        option(
                            value=role.id
                            selected=(role.id == account.roleId ? true : false)
                        )=role.title
            div(
                class="form-group"
                upload-image
            ) 
                label(for="avatar") Avatar 
                input(
                    type="file"
                    name="avatar"
                    id="avatar"
                    class="form-control-file"
                    upload-image-input
                )
                img(
                    src=(account.avatar ? account.avatar : "")
                    class="image-preview"
                    upload-image-preview
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    name="status"
                    class="form-check-input"
                    id="statusActive"
                    value="active"
                    checked=(account.status == "active" ? true : false)
                )
                label(for="statusActive" class="form-check-label") Active
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    name="status"
                    class="form-check-input"
                    id="statusInactive"
                    value="inactive"
                    checked=(account.status == "inactive" ? true : false)
                )
                label(for="statusInactive" class="form-check-label") Inactive
            div(class="form-group")
                a(
                    onclick="history.back();"
                    class="btn btn-secondary mr-1"
                    aria-label="Close"
                ) Cancel

                button(
                    type="submit"
                    class="btn btn-primary"
                ) Update Account