extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main 

    div(
        class="alert alert-success alert-hidden"
        alert-add-cart-success
    ) Added to cart! <span close-alert>x</span>


    .tour-detail 
        .container.my-3
            .row
                if(tour.images)
                    .col-6
                        .inner-images
                            div(class="swiper imagesMain")
                                div(class="swiper-wrapper")
                                    each link in tour.images
                                        div(class="swiper-slide")
                                            .inner-image
                                                img(src=link)
                                div(class="swiper-button-next")
                                div(class="swiper-button-prev")
                            div(class="swiper imagesThumb")
                                div(class="swiper-wrapper")
                                    each link in tour.images
                                        div(class="swiper-slide")
                                            .inner-image
                                                img(src=link)


                .col-6
                    .inner-title= tour.title

                    .inner-barcode
                        <i class="fa-solid fa-barcode"></i> Tour code: #{tour.code}

                    .inner-time-start
                        <i class="fa-solid fa-calendar-days"></i> Departure schedule: 
                            +formatDateTime(tour.timeStart)

                    .inner-stock
                        <i class="fa-solid fa-person-walking-luggage"></i> Left: #{tour.stock} slots

                    .inner-price-special #{tour.special_price.toLocaleString()}VND
                    .inner-price #{tour.price.toLocaleString()}VND
                    .inner-percent 
                        <i class="fa-solid fa-tag"></i> Discount #{tour.discount}%

                    form(
                        form-add-to-cart
                        tour-id=tour.id
                    )
                        input(
                            class="form-control mb-2"
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            max=tour.stock
                        )
                        button(
                            type="submit"
                            class="btn btn-success btn-block"
                        ) Add to cart


            .row
                .col-12
                .inner-infomation
                    .inner-label Tour Information
                    .inner-text
                    | !{tour.information}

                .col-12
                .inner-infomation
                    .inner-label Tour Schedule
                    .inner-text
                    | !{tour.schedule}
