extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h3(class="mb-5") General Setting

    +alert-error(5000)
    +alert-success(5000)

    form(
        action=`/${prefixAdmin}/settings/general?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="websiteName") Website Name
            input(
                type="text"
                class="form-control"
                id="websiteName"
                name="websiteName"
                value=(settingGeneral && settingGeneral.websiteName ? settingGeneral.websiteName : "")
            )
        div(
            class="form-group"
            upload-image
        )
            label(for="logo") Logo
            input(
                type="file"
                class="form-control-file"
                id="logo"
                name="logo"
                accept="image/*"
                upload-image-input
            )
            img(
                src=(settingGeneral && settingGeneral.logo ? settingGeneral.logo : "")
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="phone") Phone Number
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value=(settingGeneral && settingGeneral.phone ? settingGeneral.phone : "")
            )
        div(class="form-group")
            label(for="whatsapp") WhatsApp
            input(
                type="text"
                class="form-control"
                id="whatsapp"
                name="whatsapp"
                value=(settingGeneral && settingGeneral.whatsapp ? settingGeneral.whatsapp : "")
            )
        div(class="form-group")
            label(for="email") Email
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                value=(settingGeneral && settingGeneral.email ? settingGeneral.email : "")
            )
        div(class="form-group")
            label(for="address") Address
            input(
                type="text"
                class="form-control"
                id="address"
                name="address"
                value=(settingGeneral && settingGeneral.address ? settingGeneral.address : "")
            )
        div(class="form-group")
            label(for="map") Map iframe
            input(
                type="text"
                class="form-control"
                id="map"
                name="map"
                value=(settingGeneral && settingGeneral.map ? settingGeneral.map : "")
            )
        div(class="form-group")
            label(for="instagram") Instagram url
            input(
                type="text"
                class="form-control"
                id="instagram"
                name="instagram"
                value=(settingGeneral && settingGeneral.instagram ? settingGeneral.instagram : "")
            )

        div(class="form-group")
            label(for="x") X url
            input(
                type="text"
                class="form-control"
                id="x"
                name="x"
                value=(settingGeneral && settingGeneral.x ? settingGeneral.x : "")
            )

        div(class="form-group")
            label(for="linkedin") Linkedin url
            input(
                type="text"
                class="form-control"
                id="linkedin"
                name="linkedin"
                value=(settingGeneral && settingGeneral.linkedin ? settingGeneral.linkedin : "")
            )
        div(class="form-group")
            label(for="facebook") Facebook url
            input(
                type="text"
                class="form-control"
                id="facebook"
                name="facebook"
                value=(settingGeneral && settingGeneral.facebook ? settingGeneral.facebook : "")
            )
        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type="text"
                class="form-control"
                id="copyright"
                name="copyright"
                value=(settingGeneral && settingGeneral.copyright ? settingGeneral.copyright : "")
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Update