extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if (role.permissions.includes('tour_edit'))

        h3(class="mb-4") #{pageTitle}

        +alert-error(5000)

        form(
            action=`/${prefixAdmin}/tours/edit/${tour.id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Title *
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value=tour.title
                    required
                )
            div(class="form-group")
                label(for="category") Category *
                select(
                    name="categoryId"
                    id="category"
                    class="form-control"
                    required
                )
                    option(value="" disabled selected) -- Choose Category --
                    each item in categories
                        option(
                            value=item.id
                            selected=(item.id === tour.categoryId ? true : false)
                        ) #{item.title}

            div(class="form-group")
                label(for="images") Choose multiple images
                input(
                    type="file"
                    class="form-control-file"
                    id="images"
                    name="images"
                    accept="image/*"
                    multiple
                )

            div(class="form-group")
                label(for="price") Price *
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value=tour.price
                    min="0"
                )

            div(class="form-group")
                label(for="stock") Stock *
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value=tour.stock
                    min="0"
                )

            div(class="form-group")
                label(for="discount") % Discount
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    step="0.001"
                    name="discount"
                    value=(tour.discount ? tour.discount : 0)
                    min="0"
                )

            div(class="form-group")
                label(for="tourTag") Tour tag
                input(
                    type="text"
                    class="form-control"
                    id="tourTag"
                    name="tourTag"
                    value=(tour.tourTag ? tour.tourTag : "")
                )

            div(class="form-group")
                label(for="timeStart") Departure
                input(
                    type="datetime-local"
                    class="form-control"
                    id="timeStart"
                    name="timeStart"
                    value=tour.timeStart
                    min="0"
                )

            div(class="form-group")
                label(for="position") Position
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    value=tour.position
                    placeholder="Auto-increment..."
                    min="1"
                )

            div(class="form-group")
                label(for="description") Short description
                textarea(
                    class="form-control"
                    id="description"
                    name="description"
                    textarea-mce
                )=tour.description

            div(class="form-group")
                label(for="information") Tour Information
                textarea(
                    class="form-control"
                    id="information"
                    name="information"
                    textarea-mce
                )=tour.information

            div(class="form-group")
                label(for="schedule") Tour Schedule
                textarea(
                    class="form-control"
                    id="schedule"
                    name="schedule"
                    textarea-mce
                )=tour.schedule

            div
                input(
                    type="checkbox"
                    class="mr-1"
                    id="hasPickup"
                    name="hasPickup"
                    checked=(tour.hasPickup ? true : false)
                    autocomplete="off"
                )
                label(for="hasPickup") Has pickup? 

            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(tour.status == "active" ? true : false)
                )
                label(for="statusActive" class="form-check-label") Active
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(tour.status == "inactive" ? true : false)
                )
                label(for="statusInActive" class="form-check-label") Inactive
            div(class="form-group")
                a(
                    onclick="history.back();"
                    class="btn btn-secondary mr-1"
                    aria-label="Close"
                ) Cancel

                button(
                    type="submit"
                    class="btn btn-primary"
                ) Apply