extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if (role.permissions.includes('tour_view'))

        h3(class="mb-4") #{pageTitle}
        hr

        +alert-success(5000)

        .card.mb-3
            .card-body
                .row
                    .col-8

                    .col-4.text-right
                        if (role.permissions.includes('tour_create'))
                            a(
                                href=`/${prefixAdmin}/tours/create`
                                class="btn btn-outline-success"
                            ) + New Tour

                table(
                    class="table table-hover table-sm mt-3 table-dark"
                )
                    thead
                        tr
                            th #
                            th Image
                            th Title
                            th Price
                            th % Discount
                            th Discounted Price
                            th Stock
                            th Status
                            th Position
                            th Action

                    tbody
                        each item, index in tours
                            tr 
                                td #{index+1}
                                td
                                    img(
                                        src=item.image
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    )
                                td #{item.title}
                                td #{item.price.toLocaleString()}VND
                                td #{item.discount}%
                                td #{item.discounted_price.toLocaleString()}VND
                                td #{item.stock}
                                td
                                    if (item.status === "active")
                                        a(
                                            href="javascript:;"
                                            class="badge badge-success"
                                        ) Active
                                    else
                                        a(
                                            href="javascript:;"
                                            class="badge badge-danger"
                                        ) Inactive
                                td #{item.position}
                                td
                                    a(
                                        class="btn btn-info btn-sm"
                                        href=`/${prefixAdmin}/tours/detail/${item.id}`
                                    ) Detail
                                    if (role.permissions.includes('tour_edit'))
                                        a(
                                            class="btn btn-warning btn-sm ml-1"
                                            href=`/${prefixAdmin}/tours/edit/${item.id}`
                                        ) Edit
                                    if (role.permissions.includes('tour_delete'))
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            button-delete
                                            data-id=item.id
                                        ) Delete

            form(
                id="form-delete-item"
                method="POST"
                action=""
                data-path=`/${prefixAdmin}/tours/delete`
            )