header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`/${prefixAdmin}/dashboard`) ADMIN

            .col-9
                div(class="text-right")
                    a(
                        href=`/${prefixAdmin}/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    )
                        i(class="fa-solid fa-user-shield ml-1")
                        span.ml-1 #{admin && admin.fullName ? admin.fullName : "User01"}
                    a(
                        href=`/${prefixAdmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    )
                        i(class="fa-solid fa-right-from-bracket")