.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`/${prefixAdmin}/categories`) Quản lý danh mục
            li
                a(href=`/${prefixAdmin}/tours`) Quản lý tour
            li
                a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
            li
                a(href=`/${prefixAdmin}/accounts`) Tài khoản admin
            li
                a(href=`/${prefixAdmin}/users`) Tài khoản user
            li
                a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung
