.sider
    .inner-menu
        ul
            li(onclick="selectMenuItem(event)")
                a(href=`/${prefixAdmin}/dashboard`) 
                    <i class="fa-solid fa-chart-line"></i> Dashboards
            if (role.permissions.includes('category_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/categories`) 
                        <i class="fa-solid fa-layer-group"></i> Categories
            if (role.permissions.includes('tour_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/tours`) 
                        <i class="fa-solid fa-map-location-dot"></i> Tours
            if (role.permissions.includes('order_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/orders`) 
                        <i class="fa-solid fa-clipboard-check"></i> Orders
            if (role.permissions.includes('role_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/roles`) 
                        <i class="fa-solid fa-users"></i> Roles
            if (role.permissions.includes('roles_permissions'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/roles/permissions`) 
                        <i class="fa-solid fa-check"></i> Permissions
            if (role.permissions.includes('account_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/accounts`) 
                        <i class="fa-solid fa-user-shield"></i> Accounts
            if (role.permissions.includes('user_view'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/users`) 
                        <i class="fa-solid fa-user-group"></i> Customers
            if (role.permissions.includes('general_setting'))
                li(onclick="selectMenuItem(event)")
                    a(href=`/${prefixAdmin}/settings/general`) 
                        <i class="fa-solid fa-gear"></i> Settings
