.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) Dashboard
            li
                a(href=`/${prefixAdmin}/categories`) Category
            li
                a(href=`/${prefixAdmin}/tours`) Tour
            li
                a(href=`/${prefixAdmin}/roles/permissions`) Access Control
            li
                a(href=`/${prefixAdmin}/accounts`) Admin account
            li
                a(href=`/${prefixAdmin}/users`) User account
            li
                a(href=`/${prefixAdmin}/settings/general`) General setting
